.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
}

.pageBody {
  background-color: black;
}
.link,
.link:hover {
  color: #fff;
}

.twitchLink {
  background-color: purple;
}

.mixerLink {
  background-color: blue;
}
